@page "/chat"
@inject HttpClient Http

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in data)
            {
                <tr>
                    <td>@row.Date.ToShortDateString()</td>
                    <td>@row.TemperatureC</td>
                    <td>@row.TemperatureF</td>
                    <td>@row.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ChatData[]? data;

    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<ChatData[]>("sample-data/weather.json");
    }

    public class ChatData
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
