@page "/login"

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<EditForm Model="@userdata" OnValidSubmit="@HandleValidSubmit" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
    <label>User Name
        <InputText @bind-Value="userdata.Username" />
    </label>
    </p>

    <p>
    <label>Password
        <InputText @bind-Value="userdata.Password" />
    </label>
    </p>

    <button type="submit">Login</button>
</EditForm>

@code {
    private UserData userdata = new();

    private void HandleValidSubmit() {
        Console.WriteLine("Username: " + userdata.Username);
        Console.WriteLine("password: " + userdata.Password);
    }
}
